{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<title>MORFEMAS</title>
		<link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
		<link href="{% static "css/font-awesome.css" %}" rel="stylesheet">
		<link href="{% static "css/bootstrap-social.css" %}" rel="stylesheet">
		<link href="{% static "css/signin.css" %}" rel="stylesheet">

		
	</head>
	<body id="main_body" class="container" onload="variables()">
    
		<div id="form_container">
				<div class="navbar navbar-inverse navbar-static-top fondo" role="navigation"> 
					<div style="margin-top:5%;margin-bottom:2%;margin-left:10%;margin-right:10%;">
						<h2 class="form-signin-heading">Diccionario de morfemas (BETA)</h2>
						<h4>Gracias por utilizar nuestro diccionario de morfemas</h4> 
						
						<p> Abajo encontrarás los resultados para tu búsqueda </p>
						<p> Esto está en desarrollo, asi que, puede fallar! </p>
					</div>
				</div>
		</div>	
<div align=center>
 {{ search | safe }}
</div>

	
	</body>
</html>
