{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<title>MORFEMAS</title>
		<link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
		<link href="{% static "css/font-awesome.css" %}" rel="stylesheet">
		<link href="{% static "css/bootstrap-social.css" %}" rel="stylesheet">
		<link href="{% static "css/signin.css" %}" rel="stylesheet">

		<script>
			function variables() {
				var sufijo  = "{{sufijo}}";
				document.getElementById('sufijo').value = sufijo;
			}
		</script>
		
	</head>
	<body id="main_body" class="container" onload="variables()">
    
		<div id="form_container">
				<div class="navbar navbar-inverse navbar-static-top fondo" role="navigation"> 
					<div style="margin-top:5%;margin-bottom:2%;margin-left:10%;margin-right:10%;">
						<h2 class="form-signin-heading">Diccionario de morfemas (BETA)</h2>
						<h4>Gracias por utilizar nuestro diccionario de morfemas</h4> 
						
						<p> Abajo encontrarás los resultados para tu búsqueda </p>
						<p> Esto está en desarrollo, asi que, puede fallar! </p>
					</div>
				</div>
		</div>	

<div align=center>
	{{ search | safe }}
</div>

{%if por_palabra%} 
	<div>
		<form class="form-signin" method="get" action='/search/'>
			<div style="margin-bottom:1%">
				<input id=sufijo name="sufijo" value="" type="hidden">
				<input class="btn btn-lg btn-loggin btn-block" style ="margin-bottom:20px" type="submit" value="Buscar por sufijo">
			</div>
		</form>
	</div>
{%else%}
	<div>
		<form class="form-signin" method="get" action='search/'>
			<div style="margin-bottom:1%">
				<input name="sufijo" type="hidden" value=¨¨>
				<input class="btn btn-lg btn-loggin btn-block" style ="margin-bottom:20px" type="submit" value="Buscar por sufijo">
			</div>
		</form>
	</div>
{%endif%}

	
	</body>
</html>
