{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<title>MORFEMAS</title>
		<link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
		<link href="{% static "css/font-awesome.css" %}" rel="stylesheet">
		<link href="{% static "css/bootstrap-social.css" %}" rel="stylesheet">
		<link href="{% static "css/signin.css" %}" rel="stylesheet">

		<script>
			function variables() {
				var bajar  = "{{bajar}}";
				document.getElementById('bajar').value = bajar;

				var newSearch  = "{{newSearch}}";
				document.getElementById('newSearch').value = newSearch;				
			}
		</script>
		
	</head>
	<body id="main_body" class="container" onload="variables()">
    
		<div id="form_container">
				<div class="navbar navbar-inverse navbar-static-top fondo" role="navigation"> 
					<div style="margin-top:5%;margin-bottom:2%;margin-left:10%;margin-right:10%;">
						<h2 class="form-signin-heading">Diccionario de morfemas (BETA)</h2>
						<h4>Gracias por utilizar nuestro diccionario de morfemas</h4> 
						
						<p> Abajo encontrarás los resultados para tu búsqueda </p>
						<p> Esto está en desarrollo, asi que, puede fallar! </p>
					</div>
				</div>
		</div>	

<!-- Warning en caso de alomorfos -->
{%if warning%} 
<div id="warning" align="center" style="margin-top:1%; margin-bottom:1%">
	<div align="center" style="width:75%; background-color:#961e1e; border-color:#961e1e; height:90%" class="btn btn-lg btn-primary btn-block" >
		Aviso: este morfema tiene alomorfos. Hacé click acá para más información
	</div>
</div>
{%endif%}

<!-- Tabla -->
<div align=center>
	{{ search | safe }}
</div>

<!-- Botones -->
{%if search_type == "palabra"%} 
	<div>
		<form class="form-signin" method="get" action='/search/'>
			<input name="palabra" value=""     type="hidden" id=bajar > 
			<input name="bajar"   value="True" type="hidden"> 
			<input class="btn btn-lg btn-primary btn-block" type="submit" value="Descargar tabla" style="margin-left:25%; width:50%">
		</form>
		<form class="form-signin" method="get" action='/search/'>
			<input name="sufijo" value=""      type="hidden" id=newSearch >
			<input name="bajar"  value="False" type="hidden"> 
			<input class="btn btn-lg btn-primary btn-block" type="submit" value="Buscar este sufijo" style="margin-left:25%; width:50%">		
		</form>
	</div>
{%elif search_type == "sufijo"%} 
	<div>
		<form class="form-signin" method="get" action='/search/'>
			<input name="sufijo" value=""      type="hidden" id=bajar> 
			<input name="bajar"  value="True"  type="hidden"> 
			<input class="btn btn-lg btn-primary btn-block" type="submit" value="Descargar tabla" style="margin-left:25%; width:50%">
		</form>
		<form class="form-signin" method="get" action='/search/'>
			<input name="palsPorSuf" value=""       type="hidden" id=newSearch >
			<input name="bajar"      value="False"  type="hidden"> 
			<input class="btn btn-lg btn-primary btn-block" type="submit" value="Buscar todas las palabras con este sufijo" style="margin-left:25%; width:50%">
		</form>
	</div>
{%elif search_type == "palsPorSuf"%} 
	<div>
		<form class="form-signin" method="get" action='/search/'>
			<input name="palsPorSuf" value =""     type="hidden" id=bajar> 
			<input name="bajar"      value="True"  type="hidden"> 
			<input class="btn btn-lg btn-primary btn-block" type="submit" value="Descargar tabla" style="margin-left:25%; width:50%">
		</form>
		<form class="form-signin" method="get" action='/search/'>
			<input name="sufijo" value=""       type="hidden" id=newSearch>
			<input name="bajar"  value="False"  type="hidden"> 
			<input class="btn btn-lg btn-primary btn-block" type="submit" value="Ver sufijo" style="margin-left:25%; width:50%">
		</form>
	</div>
{%endif%}




	
	</body>
</html>
